@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: black;
  color: white;
  overscroll-behavior: none; /* Prevent pull-to-refresh on mobile */
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}